{
    "preset": "conventionalcommits",
    "presetConfig": {
      "types": [
        {
          "type": "fix",
          "section": "🐛 Bug Fixes"
        },
        {
          "type": "feat",
          "section": "🚀 Features"
        },
        {
          "type": "chore",
          "section": "📦 Chores"
        },
        {
          "type": "docs",
          "section": "📚 Documentation"
        }
      ]
    },
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/github",
      "@semantic-release/npm",
      ["@semantic-release/git", {
      "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
    }]
    ]
  }
